/* .html, body{
    background-color: #100000;
   font-family: 'Times New Roman', Times, serif;
    
}
.principal{
    overflow:hidden;
    width: 100%;
    
}
.contenedor{
    width: 200px;
    padding: 0px 500px 0 0;
    margin: 0;
    border-radius: 20px;
    float: left;
    
}
.contenedor2{
    width: 200px;
    padding: 0px 0 0px 0px;
    margin: 0;
    float: left;
}
.titulo{
    background-color: #500000;
    color: white;
    text-align: center;
    border-radius: 30px;
} */